.button-action {
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: flex-end;
    margin-right: 12px;
    margin-bottom: 24px;
}

.project-detail {
    padding-left: 12px;
    padding-right: 12px;
}

.project-step {
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 8px;
}

.project-workflow{
    padding: 0px 12px 0px 22px;
}

.file-upload-area {
    border: 2px dashed #d9d9d9;
    border-radius: 2px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
    margin-bottom: 12px;
}

.file-upload-area:hover {
    border-color: #1890ff;
    background: #f0f7ff;
}

.project-struct{
    padding: 0 12px;
}